<div class="container">
    <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
    <form>
        <div class="form-group">
            <label><%= form.label 'Email commenter'%></label><br>
            <%= form.email_field :mail_commenter, autocomplete: "email" %>
        </div>
        <div class="form-group">
            <label><%= form.label :commenter %></label><br>
            <%= form.text_field :commenter, :required => true %>
        </div>
        <div class="form-group">
            <label><%= form.label :body %></label><br>
            <%= form.text_area :body, :required => true %>
        </div>
            <%= form.submit %>
        </form>
    <% end %>
</div>


