<div class="container">
  <div class="card text-dark bg-light mb-3" style="max-width: 40rem;">
  <div class="card-header"><h3><%= @article.title %></h3></div>
  <div class="card-body">
    <p class="card-text"><%= @article.text %></p>
  </div>
   <div class="card-footer">Tags: <%= @article.category %></div>
   
    <div class="btn text-white">
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_article_path(@article) %> 
       <% end %>|
      <%= link_to 'Back', articles_path %>
    </div>
   
</div>


<h3>Comentarios</h3>
<%= render @article.comments %>

<h3>Agregar un comentario:</h3>
<%= render 'comments/form'%>


</div>


